
.icon{
  margin-right: 10px;
}

.ispace{
  margin-left: 20px;
  display: flex;
}

.jum{
  font-family: "Open Sans",sans-serif;
}

.icon1{
  margin-top: -3px;
  font-size: 18px;
  font-family: "Open Sans",sans-serif;
}

.title{
  font-family: "Open Sans",sans-serif;
  color: #2eb872;
  display: flex;
}

.jum1{
  background-image: linear-gradient(rgb(0,0,0,0.6) , rgb(0,0,0,0.6)) , url("../public/bg-1.jpg");
  font-family: "Open Sans",sans-serif;
  background-size: cover;
  height: 683px;
}

.fotter{
  font-size: 10px;
}
